p:first-letter{
    font-size: 200%;
}
.income{
    background-color: #cccccc;
}

.expenses{
    background-color: #ff0000;
}
.profit{
    background-color: #ffff00;
}
#budgetsummaer{
    background-color: #ffffff;
    border:dotted;
    padding: 20px;
    width: 500px;
    position:absolute;
    bottom: 0px;
}
body{
    font-family:Verdana, Arial, Helvatica, sans-serif;
    font-size: 12px;
    background-color:#CCFFFF;
}

h1{
    font-size:14px;
    font-variant :small-caps;
    color:#ff0000;
    background-color:#00ff00;
    position: absolute;
    top: 0px;
    left: 0px;
}